@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after {
    content: '';
    content: none
}

q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    width: 100%;
}

body:before,
body:after {
    content: "";
    display: table
}

body:after {
    clear: both
}

@font-face {
    font-family: "foundation-icons";
    src: url("../fonts/foundation-icons/foundation-icons.eot");
    src: url("../fonts/foundation-icons/foundation-icons.eot?") format("embedded-opentype"),
        url("../fonts/foundation-icons/foundation-icons.woff") format("woff"),
        url("../fonts/foundation-icons/foundation-icons.ttf") format("truetype"),
        url("../fonts/foundation-icons/foundation-icons.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

.icon:before {
    font-family: "foundation-icons", serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit
}

html,
body {
    height: 100%
}

html {
    height: 100%;
    max-height: 100%
}

body {
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400
}

.main {
    margin: 0 20px;
    max-width: none
}

.main>h1 {
    margin-top: 0
}

::selection {
    background: #2AAA8A;
    color: #000
}

::-moz-selection {
    background: #2AAA8A;
    color: #000
}

a {
    color: #33d0a9
}

a:hover {
    color: #2cb290
}

.main-title {
    display: none
}

header h1,
header h2,
header h3,
header h4,
header h5,
header h5,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h5 {
    margin-top: .8em;
    margin-bottom: .4em;
    font-family: "JetBrains Mono", monospace;
    font-weight: lighter;
    color: #333333;
    letter-spacing: -2px
}

header h1,
footer h1 {
    font-size: 3.2em;
    line-height: 1.2em
}

header h2,
footer h2 {
    font-size: 2.8em
}

header h3,
footer h3 {
    font-size: 1.8em
}

header h4,
footer h4 {
    font-size: 1.6em
}

header h5,
footer h5 {
    font-size: 1.4em
}

header h6,
footer h6 {
    font-size: 1.2em
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
    margin-top: 40px;
    margin-bottom: 28px;
    color: #333333;
    letter-spacing: 0;
    font-family: 'Passion One', cursive
}

h1 {
    font-size: 62px
}

h2 {
    font-size: 52px
}

h3 {
    font-size: 42px
}

h4 {
    font-size: 32px
}

h5 {
    font-size: 25px
}

h6 {
    font-size: 20px
}

p {
    margin-bottom: 1.3em;
    line-height: 1.55em
}

strong {
    font-weight: 900
}

em {
    font-style: italic
}

blockquote {
    margin: 1em 0;
    border-radius: 3px;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    font-style: italic;
    padding: 23px;
    border-left: 4px solid #2cb290;
    background: #faf6f6
}

.group-title {
    font-style: italic;
    border-radius: 3px;
    padding: 2em;
    border-left: 4px solid #2cb290;
    background: #faf6f6;
    margin-bottom: 34px
}

blockquote p:last-child {
    margin-bottom: 0
}

.copy {
    display: none
}

.copy.enabled {
    cursor: pointer
}

.copy.enabled:hover {
    background: rgba(255, 255, 255, 0.1)
}

ol,
ul {
    margin: 0 0 1.3em 2.5em
}

ol li {
    margin-left: 31px;
    line-height: 28px
}

ul li {
    margin-left: 19px;
    line-height: 28px
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin: .1em 0 .2em 2em
}

ol {
    list-style-type: decimal
}

ul {
    list-style-type: disc
}

code {
    padding: .1em .4em;
    background: #f4e8e7;
    border: 1px solid #2AAA8A;
    border-radius: 3px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: .85em
}

.date,
.time,
.author,
.tags {
    font-size: .8em;
    color: #999999
}

.date a,
.time a,
.author a,
.tags a {
    color: #666666
}

.date a:hover,
.time a:hover,
.author a:hover,
.tags a:hover {
    color: #2cb290
}

.block-heading {
    display: inline;
    float: left;
    width: 940px;
    margin: 0 10px;
    position: relative;
    bottom: -15px;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px
}

.label {
    position: relative;
    display: inline-block;
    padding: 8px 18px 9px 18px;
    background: #00A36C;
    border-radius: 3px;
    text-align: center;
    color: #FFF
}

.footer-slogan {
    color: #606060;
    font-size: 14px
}

.content-wrapper__inner {
    padding: 50px 0
}

footer {
    padding: 80px;
    background: #2b2b2b
}

footer,
footer a {
    color: #999
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    margin: 30px 0;
    color: #fff
}

footer .footer-columns {
    display: flex;
    flex-flow: wrap;
    margin: -10px -10px 10px -10px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #2cb290;
}

footer .legal-line {
    width: 100%;
    padding: 30px 0 0 0;
    margin: 0;
    font-size: 14px;
    color: #606060
}

.footer-links {
    width: 100%;
    margin: 10px;
    padding: 0;
    flex: 1 0 180px;
}

.footer-links li {
    list-style: none;
    margin: 15px 0;
}

.avatar,
.logo {
    border-radius: 50%;
    border: 3px solid #FFF;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

hr {
    border: none;
}

.hidden {
    display: none !important;
}

.panel {
    display: table;
    width: 100%;
    height: 100%
}

.panel__vertical {
    display: table-cell;
    vertical-align: middle
}

.panel-title {
    margin: 0 0 5px 0;
    font-size: 2.5em;
    color: #FFF
}

.panel-subtitle {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #cccccc;
    -webkit-font-smoothing: antialiased
}

.panel-cover {
    color: #ccc;
    background: #2b2b2b;
    border-bottom: 1px solid #00000042;
    z-index: 1
}

.panel-cover__logo {
    margin-bottom: .2em
}

.panel-cover__description,
.main-description {
    font-weight: 200;
    color: #7f7f7f;
    font-size: 16px
}

.panel-cover__description {
    margin: 0 30px
}

.panel-cover__divider {
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14)
}

.panel-cover__divider--secondary {
    width: 15%
}

.panel-main {
    display: table;
    width: 100%;
    height: 100%
}

.panel-main a {
    text-decoration: none
}

.no-js .panel-main {
    width: 40%;
    max-width: 530px
}

.panel-main__inner {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 800;
    padding: 0 60px
}

.panel-main__content {
    max-width: 620px;
    margin: 0 auto
}

.panel-main__content--fixed {
    width: 480px;
    transition: width 1s;
    -webkit-transition: width 1s
}

.panel-inverted {
    font-weight: 100;
    text-align: center;
    color: #FFF
}

.panel-inverted a {
    color: #FFF
}

.cover-navigation {
    margin-top: 10px
}

.main-image-wrapper {
    text-align: center;
    margin-bottom: 1.4em
}

.main-image-wrapper img {
    max-width: 100%
}

.image-wrapper {
    text-align: center;
    border-radius: 3px;
    padding: 2em;
    border-left: 4px solid #00A36C;
    background: #faf6f6
}

.image-wrapper .description-text {
    font-weight: 300;
    font-style: italic
}

.cover-navigation--social {
    margin-left: 30px
}

.cover-disabled {
    background: none
}

.btn,
.navigation__item a {
    padding: 10px 20px;
    border: 1px solid #00A36C;
    border-radius: 20px;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: none;
    color: #00A36C;
    -webkit-font-smoothing: antialiased
}

.btn:hover,
.navigation__item a:hover {
    color: #2cb290;
    border-color: #2cb290
}

.btn-large {
    padding: 10px 24px;
    font-size: 1.1em
}

.btn-small {
    padding: 8px 12px;
    font-size: .7em
}

.btn-mobile-menu {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center
}

.btn-mobile-menu__icon,
.btn-mobile-close__icon {
    position: relative;
    top: 3px;
    font-size: 36px;
    color: #FFF
}

nav {
    display: inline-block;
    position: relative
}

.navigation {
    display: inline-block;
    position: relative;
    margin: 0;
    list-style-type: none
}

.navigation__item {
    display: inline-block;
    margin: 0 2px 0 0;
    line-height: 1em
}

.navigation__item a {
    display: block;
    position: relative;
    border-color: #999;
    color: #999
}

.navigation__item a:hover {
    color: #2cb290;
    border-color: #2cb290
}

.navigation--social {
    margin-left: 1.5em
}

.navigation--social a {
    padding: 6px 8px 6px 9px
}

.navigation--social a .label {
    display: none
}

.navigation--social a .icon {
    display: block;
    font-size: 1.7em
}

i {
    font-family: 'entypo', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 18px
}

.icon-social {
    font-family: 'entypo-social', serif;
    font-size: 22px;
    display: block;
    position: relative
}

*:focus {
    outline: none
}

pre.highlight,
.highlight pre {
    padding: 10px
}

pre.highlight code,
.highlight pre code {
    white-space: pre-wrap
}

.btn,
.navigation__item a {
    margin: 5px 0;
    white-space: nowrap
}

.categories a,
.tags a {
    border: 1px solid #2cb290;
    border-radius: 20px;
    color: #2cb290;
    display: inline-block;
    font-size: 12px;
    margin: 5px 0;
    padding: 5px 10px;
    text-shadow: none;
    white-space: nowrap
}

.footer__copyright {
    margin: 0 20px 10px
}

.user-image {
    margin-bottom: 1.2em;
    position: relative;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    border-radius: 100%
}

@media all and (min-width: 1300px) {
    body {
        font-size: 16px
    }

    .panel-cover {
        width: 530px;
        height: 100%;
        position: fixed;
        border-bottom: none;
        border-right: 1px solid #00000042
    }

    .main-title {
        display: block;
        font-family: "JetBrains Mono", monospace;
        font-weight: lighter;
        color: #fff;
        letter-spacing: -2px;
        font-size: 2.1em;
        line-height: 1.2em;
        margin: 0 0 5px -4px
    }

    .main {
        margin: 0 80px;
        max-width: 800px
    }

    .title404 {
        margin: 120px auto
    }

    .content-wrapper {
        margin-left: 530px
    }

    div.highlighter-rouge,
    figure.highlight {
        padding: 1.3em 80px;
        font-size: 21px
    }

    .hello {
        text-align: left;
        padding: 80px;
        font-size: 21px;
        margin-bottom: 80px
    }

    .hello p {
        max-width: 800px
    }

    .preview .preview__image {
        width: auto;
        max-width: 200px;
        margin-left: 20px
    }

    .preview img {
        width: 100%
    }

    .preview .excerpt {
        margin: 0;
        font-size: 13px;
        color: #999999;
        display: block
    }

    .copy {
        display: block;
        position: absolute;
        right: 1.2rem;
        top: 1.2rem;
        border: 1px solid #CB772F;
        padding: 5px 9px;
        color: #CB772F;
        background: none;
        border-radius: 4px
    }

    .copy i {
        font-size: 16px
    }

    .copy span {
        margin-left: 7px;
        display: inline-block;
        position: relative;
        top: -1px
    }

    blockquote {
        padding: 2em
    }
}

@media all and (max-width: 1100px) {
    .panel-cover__logo {
        width: 70px
    }

    .panel-title {
        font-size: 2em
    }

    .panel-subtitle {
        font-size: 1em
    }

    .panel-cover__description {
        margin: 0 10px;
        font-size: .9em
    }

    .navigation--social {
        margin-top: 5px;
        margin-left: 0
    }
}

@media all and (max-width: 960px) {
    .btn-mobile-menu {
        display: block
    }

    .panel-main {
        display: table;
        position: relative
    }

    .panel-main__inner {
        display: table-cell;
        padding: 60px 10%
    }

    .panel-cover__description {
        display: block;
        max-width: 600px;
        margin: 0 auto
    }

    .panel-cover__divider--secondary {
        display: none
    }

    .panel-cover {
        width: 100%;
        max-width: none;
        display: block;
        position: relative;
        height: auto;
        padding: 0
    }

    .panel-cover .panel-main__inner {
        display: block;
        padding: 70px 0 30px 0
    }

    .panel-cover .panel-cover__logo {
        width: 60px;
        border-width: 2px
    }

    .panel-cover .panel-cover__description {
        display: none
    }

    .panel-cover .panel-cover__divider {
        display: none;
        margin: 1em auto
    }

    .navigation-wrapper {
        display: none;
        position: fixed;
        top: 42px;
        right: 0;
        left: 0;
        width: 100%;
        padding: 20px 0;
        background: rgba(51, 51, 51, 0.98);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15)
    }

    .navigation-wrapper.visible {
        display: block
    }

    .cover-navigation {
        display: block;
        position: relative;
        float: left;
        clear: left;
        width: 100%
    }

    .cover-navigation .navigation {
        display: block;
        width: 100%
    }

    .cover-navigation .navigation li {
        width: 80%;
        margin-bottom: .4em
    }

    .cover-navigation.navigation--social {
        padding-top: 5px
    }

    .cover-navigation.navigation--social .navigation li {
        display: inline-block;
        width: 25.8%
    }

    .content-wrapper {
        width: 100%
    }

    .navigation__item {
        width: 100%;
        margin: 0 0 .4em 0
    }
}

@media all and (max-width: 340px) {
    .panel-main__inner {
        padding: 0 5%
    }

    .panel-title {
        margin-bottom: .1em;
        font-size: 1.5em
    }

    .panel-subtitle {
        font-size: .9em
    }

    .btn,
    .navigation__item a {
        display: block;
        margin-bottom: .4em
    }
}

@media (prefers-color-scheme: dark) {
    #comments-light {
        display: none
    }

    html .content-wrapper {
        background: #2b2b2b;
        color: #bbbbbb
    }

    html h1,
    html h2,
    html h3,
    html h4,
    html h5,
    html h6 {
        color: #eaeaea
    }

    html blockquote,
    html .image-wrapper,
    html .panel-cover,
    html div.highlighter-rouge,
    html .hello,
    html footer,
    html .highlight {
        background: #1c1c1c
    }

    html code:not(.language-yaml) {
        background: #4b4747
    }
}

@media (prefers-color-scheme: light) {
    #comments-dark {
        display: none
    }
}

.icon-mail:before {
    content: "\f16d";
}

.icon-social-github:before {
    content: "\f1c9";
}