{{ define "footer" }}
<footer>
    <div class="container">
        <div class="footer-columns">
            <ul class="footer-links">
                <li>
                    <h4>Pages</h4>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/categories">Categories</a></li>
            </ul>
            <ul class="footer-links">
                <li>
                    <h4 id="find">Find Me</h4>
                </li>
                <li>
                    <a href="https://github.com/G4ble" title="g4ble on GitHub">
                        <i class="icon icon-social-github"></i>
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="mailto:usperling35@gmail.com" title="Email usperling35@gmail.com">
                        <i class="icon icon-mail"></i>
                        Email
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="legal-line">
        <p class="container">
            © 2024
            •
            g4ble
        </p>
    </div>
</footer>
{{ end }}