{{ define "header" }}
<div class="panel-main">
    <div class="panel-main__inner panel-inverted">
        <div class="panel-main__content">
            <a href="/" title="All posts">
                <img class="user-image"
                    src="https://static-cdn.jtvnw.net/jtv_user_pictures/26cc48c0-4f40-4b48-8e43-17e422d9c8db-profile_image-300x300.png">
                <h1 class="panel-cover__title panel-title">g4ble</h1>
            </a>
            <hr class="panel-cover__divider">
            <p class="panel-cover__description">
                Blog about my personal projects <br />
            </p>
            <hr class="panel-cover__divider">
            <div class="navigation-wrapper">
                <nav class="cover-navigation navigation--social">
                    <ul class="navigation">
                        <li class="navigation__item">
                            <a href="https://github.com/G4ble" title="g4ble on GitHub">
                                <i class="icon icon-social-github"></i>
                                <span class="label">GitHub</span>
                            </a>
                        </li>
                        <li class="navigation__item">
                            <a href="mailto:usperling35@gmail.com" title="Email usperling35@gmail.com">
                                <i class="icon icon-mail"></i>
                                <span class="label">Email</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{{ end }}